/* body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(18, 4, 4, 0.87);
  background-color: rgb(160, 220, 160);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
.main {
  min-height: calc(100vh - 7rem);
}
.main {
  min-height: calc(100vh - 7rem);
}
.qty {
  width: 20%;
}
.product-body {
  margin-top: 20px;
}
.row-format {
  background-color: #efefef;
  margin-top: 5%;
}
.box-design {
  border-radius: 25px;
  background-color: #efefef;
  padding: 2%;

}
